<div class="login-wrapper">
  <div class="login-box">
    <h1>Accedi</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="input-group">
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder=" "
          required
        />
        <label for="email">Email</label>
        <span class="bar"></span>
        <div *ngIf="submitted && f['email'].invalid" class="error">
          <span *ngIf="f['email'].errors?.['required']">L'email è obbligatoria</span>
          <span *ngIf="f['email'].errors?.['email']">Formato non valido</span>
        </div>
      </div>

      <div class="input-group">
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder=" "
          required
        />
        <label for="password">Password</label>
        <span class="bar"></span>
        <div *ngIf="submitted && f['password'].invalid" class="error">
          <span *ngIf="f['password'].errors?.['required']">La password è obbligatoria</span>
        </div>
      </div>

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Caricamento…' : 'Accedi' }}
      </button>

      <a routerLink="/forgot-password" class="forgot-link">
        Hai dimenticato la password?
      </a>

      <div *ngIf="errorMsg" class="alert error-msg">
        {{ errorMsg }}
      </div>
    </form>
  </div>
</div>