<a class="back-arrow" routerLink="/dashboard">
  <svg xmlns="http://www.w3.org/2000/svg" class="arrow-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
  </svg>
  Torna alla Home
</a>

<h2>Elenco Impiegati</h2>
<table class="emp-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Dipartimento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of impiegati">
      <td>{{ emp.id }}</td>
      <td>{{ emp.nome }} {{ emp.cognome }}</td>
     <strong><td>{{ emp.dipartimento }}</td></strong>
    </tr>
    <tr *ngIf="impiegati.length === 0">
      <td colspan="3" class="no-data">Nessun impiegato trovato</td>
    </tr>
  </tbody>
</table>
